.filterCategoryContainer{
    display: flex;
    width: 100%;
}
.categorySelectContainer{
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    width: 100%;
}
.productCategorySelect{
    width: 95.5%;
    height: 32px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px gray;
    padding-left: 5px;
    margin-top: 10px;
}
.filterCatButton{
    width: 120px;
    height: 25px;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #379adb;
    border: none;
    border-radius: 3px;
    color: white;
}
.productsTable th td{
    width: fit-content;
}
.tableContainer{
    padding-right: 30px;
}
.productTableActions{
    width: 77%;
    display: flex;
}