/*? Login Inputs */
.inputContainer{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.inputText{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px gray;
    padding-left: 5px;
    margin-top: 10px;
}
.passInputText:focus, .inputText:focus{
    outline: none;
}
.passInputText{
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px gray;
    padding-left: 5px;
}

.inputAreaContainer{
    border: solid 1px gray;
    border-radius: 5px;
    padding: 0px;
    height: 30px;
    display: flex;
}

.inputAreaContainer > input{
    width: 90%;
    border: none;
}
.showHidePass{
    border: none;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.userCatSelectContainer{
    display: flex;
    margin: 15px;
}

/* Contenedor */
.activoCheckboxContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Alineaci칩n del checkbox con el texto */
.checkInputControl {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* --- Checkbox grande y moderno --- */
.inputCheck {
  width: 20px;     /* ancho m치s grande */
  height: 20px;    /* alto m치s grande */
  cursor: pointer;
  accent-color: #007bff; /* color cuando est치 marcado */
}

.checkInputControl p {
  font-size: 25px;
  margin: 0;
}
